body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://i.pinimg.com/564x/86/4c/1d/864c1db597f78cdb1afd2be97923b2ea.jpg"); /* Replace 'background.jpg' with your image file path */
    background-size: cover; /* This property ensures that the background image covers the entire screen */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

header {
    font-family:cursive;
    background-color: #e5bcde;
    color: #fff;
    text-align: center;
    padding: 1em;
}
nav {
    display: flex;
    background-color: #a8c7e1;
    justify-content: center;
    align-items: center;
  }
  
  nav a {
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: bold;
  }
  
  nav img {
    max-height: 110px;
    margin-right: 20px;
  }

footer {
    /* grid-area: 3 / 1 / 4 / 4; */
    padding: 20px;
    background-color: #a8c7e1;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  
  .footer a {
    padding: 14px 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }